Repository Gamer025/tgstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ExcessiveUseOfCobblestoneNoPing, @CyberbossNoPing, @Jordie0608, @Jordie0608NoPing, @LemonInTheDarkNoPing, @MrStonedOneNoPing, @MothblocksNoPing, @ninjanomnomNoPing, @ShizCalevNoPing, @stylemistakeNoPing, @tralezabNoPing, @Watermelon914NoPing, @TwaticusNoPing, @KrysonismNoPing, @EOBGamesNoPing, @MaurukasNoPing, @optimumtactNoPing

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Cobby
/code/modules/reagents/ @ExcessiveUseOfCobblestoneNoPing
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestoneNoPing
/code/modules/surgery/ @ExcessiveUseOfCobblestoneNoPing
/code/game/objects/items/storage/firstaid.dm @ExcessiveUseOfCobblestoneNoPing
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestoneNoPing
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestoneNoPing

# Cyberboss

/code/__HELPERS/jatum.dm @CyberbossNoPing
/code/controllers/subsystem/atoms.dm @CyberbossNoPing
/code/controllers/subsystem/mapping.dm @CyberbossNoPing
/code/controllers/globals.dm @CyberbossNoPing
/code/datums/helper_datums/getrev.dm @CyberbossNoPing
/code/datums/map_config.dm @CyberbossNoPing
/code/datums/forced_movement.dm @CyberbossNoPing
/code/datums/holocall.dm @CyberbossNoPing
/code/modules/admin/verbs/adminhelp.dm @CyberbossNoPing
/code/modules/admin/verbs/adminpm.dm @CyberbossNoPing
/code/modules/mapping/ @CyberbossNoPing

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608NoPing
/tools/SQLAlertEmail/ @Jordie0608NoPing

# LemonInTheDark

/code/__DEFINES/atmospherics.dm @LemonInTheDarkNoPing
/code/modules/atmospherics/ @LemonInTheDarkNoPing

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOneNoPing
/code/__DEFINES/MC.dm @MrStonedOneNoPing
/code/controllers/admin.dm @MrStonedOneNoPing
/code/controllers/master.dm @MrStonedOneNoPing
/code/controllers/failsafe.dm @MrStonedOneNoPing
/code/controllers/subsystem.dm @MrStonedOneNoPing
/code/controllers/subsystem/timer.dm @MrStonedOneNoPing
/code/controllers/configuration/entries @MrStonedOneNoPing
/config/ @MrStonedOneNoPing

# Mothblocks

/code/modules/unit_tests/ @MothblocksNoPing
/code/modules/client/preferences/ @MothblocksNoPing
/code/modules/preferences.dm @MothblocksNoPing
/code/modules/preferences_menu.dm @MothblocksNoPing
/code/modules/preferences_savefile.dm @MothblocksNoPing
/tgui/packages/tgui/interfaces/PreferencesMenu/ @MothblocksNoPing

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnomNoPing
/code/controllers/subsystem/dcs.dm @ninjanomnomNoPing
/code/controllers/subsystem/shuttle.dm @ninjanomnomNoPing
/code/datums/components/ @ninjanomnomNoPing
/code/datums/elements/ @ninjanomnomNoPing
/code/modules/shuttle/ @ninjanomnomNoPing

# ShizCalev

/sound/ @ShizCalevNoPing

# stylemistake

/code/__DEFINES/chat.dm @stylemistakeNoPing
/code/__DEFINES/tgui.dm @stylemistakeNoPing
/code/controllers/subsystem/chat.dm @stylemistakeNoPing
/code/controllers/subsystem/tgui.dm @stylemistakeNoPing
/code/modules/tgchat @stylemistakeNoPing
/code/modules/tgui @stylemistakeNoPing
/code/modules/tgui_panel @stylemistakeNoPing
/tgui @stylemistakeNoPing

# tralezab

/code/datums/ai/ @tralezabNoPing

# Watermelon914

/code/modules/wiremod/ @Watermelon914NoPing

# Multiple Owners

/icons/ @TwaticusNoPing @ShizCalevNoPing @KrysonismNoPing
/code/controllers/subsystem/air.dm @LemonInTheDarkNoPing @MrStonedOneNoPing
/_maps/ @EOBGamesNoPing @ShizCalevNoPing @MaurukasNoPing
/tools/build/ @MrStonedOneNoPing @stylemistakeNoPing
/tools/LinuxOneShot/ @CyberbossNoPing @MrStonedOneNoPing
/tools/tgs4_scripts/ @CyberbossNoPing @MrStonedOneNoPing

#SIC SEMPER TYRANNIS
/code/modules/hydroponics/grown/citrus.dm @optimumtactNoPing

Delete emoji.dmi
  icons/emoji.dmi
Owners: @TwaticusNoPing, @ShizCalevNoPing, @KrysonismNoPing

Update codeowners_notif.yml
  .github/workflows/codeowners_notif.yml
Owners: none

Update codeowners_notif.yml
  .github/workflows/codeowners_notif.yml
Owners: none

Delete emoji.dmi
  icons/emoji.dmi
Owners: @TwaticusNoPing, @ShizCalevNoPing, @KrysonismNoPing

Delete emoji.dmi
  icons/emoji.dmi
Owners: @TwaticusNoPing, @ShizCalevNoPing, @KrysonismNoPing

Update yarn.lock
  tgui/yarn.lock
Owners: @stylemistakeNoPing

Update codeowners_notif.yml
  .github/workflows/codeowners_notif.yml
Owners: none

Update codeowners_notif.yml
  .github/workflows/codeowners_notif.yml
Owners: none
